body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2c2c2c;
}

.container-clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  width: 400px;
  height: 200px;
  padding: 20px;
  box-shadow: rgba(30, 221, 255, 0.4) -5px 5px, rgba(30, 221, 255, 0.3) -10px 10px, rgba(30, 221, 255, 0.2) -15px 15px, rgba(30, 221, 255, 0.1) -20px 20px, rgba(30, 221, 255, 0.05) -25px 25px;
  background-color: #1e1e1e;
  color: white; 
}

.control-clock {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: auto;
  padding-bottom: 10px;
}

.display{
  font-size: 100px;
}